@import  "https://fonts.googleapis.com/css?family=Roboto";

/* Set font and padding for whole document */

html,body,header {
    font-family: 'Roboto',sans-serif;
    width: 100%;
    margin: auto;

}

/* Prevent images from going over boundaries */

img {
    max-width: 100%;
}

/* Flexbox container */

.container {
    display: flex-box;
    flex-wrap: wrap;
    width: 100%;

}

.menu {
    padding-top: 5px;
    padding-bottom: 15px;
    width: 100%;
    display: block;
    min-height: 10px;
    font-weight: bold;
    float: left

 }

 .menu-item {

    padding-right: 3px;
    font-weight: bold;
    float:left;
    padding-right: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 12px;
  }

 .nav-button {

    float:left;
    padding-right: 10px;
    margin-right: 10px;
    background-color: gray;
    border-radius: 12px;
 }

 .page-title {
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
    width: 100%;

 }

.post {

    padding-top: 10px;
    width: 100%;

}

.post-subject-row {

    width: 100%;
    box-sizing: border-box;
    border-bottom: solid 2px black;

 }
 .post-subject {

    font-size: 24px;
    font-weight: bold;
    width: 50%;
    box-sizing: border-box;

 }

.post-user {
    font-size: 12px;
    bottom: 20px;
    color: #999;
    color: blue;
    width: 100%;
 }

 .post-likes {
    font-size: 12px;
    bottom: 20px;
    color: #999;
    color: blue;
    width: 100%;
 }
 .post-date {
    font-size: 12px;
    bottom: 20px;
    color: #999;
    padding-bottom: 5px;
    float: right;
    position: relative;
    right: 20px;
 }

 .post-content-row {
    padding-top: 5px;
    box-sizing: border-box;
    width: 100%;



}

.post-content {

    font-size: 14px;
    white-space: pre-wrap;
    width: 100%;
    padding-right: 25px;



}

.post-modifications-row {
    padding-top: 5px;
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    font-weight: bold;
    color: red;
    float: left;
}

.comment-modifications-row {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    font-weight: bold;
    color: red;
    float: left;
}

.post-comments-row {
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    padding-top: 5px;

}

.comment-content {

    font-size: 14px;
    white-space: pre-wrap;
    padding-left: 10px;
    width: 100%

}

.comment-username {
    margin-top: 5px;
    color: green;
    width: 100%

}

.comment-modifications {
    margin-top: 5px;
    color: green;
    width: 100%

}

.error {
    color: red;
 }

