
<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
    <h2>Edit Comment</h2>
    <form method="post">
    <input type="hidden" name="commentid" value="{{commentid}}">
      <table>
        <tr>
          <td class="label">
            Comment
          </td>
          <td>
            <textarea name="content"
                style="height: 100px; width: 400px;">{{content}}</textarea>
          </td>
          <td class="error">
          {{contenterror}}
          </td>
        </tr>
      </table>
      <input type="submit">
    </form>
    {% include 'menu.html' %}
  </body>

</html>
