
<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
    <link href="/css/main.css" rel="stylesheet">
  </head>

  <body>
    <h2>Login</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="">
          </td>
          <td class="error">
          {{usernameerror}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
          {{passworderror}}
          </td>
        </tr>
      </table>

      <input type="submit">
    </form>
    {% include 'menu.html' %}
  </body>

</html>