
<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
  <div class="container">
    <h1 class="page-title">Multi-User Blog</h1>
    {% include 'menu.html' %}
  <div class="menu">
    {% if currentUsername is not none %}
    <form action="/newpost" method="get">
            <input type="submit" class="nav-button"  value="New Post">
    </form>
    {% endif %}
  </div>



      {% for post in posts %}
      <div class="post">
        <div class="post-subject-row">
          <div class="post-subject"> {{post['subject']}} </div>
          <div class="post-user">  Posted by: @{{post['username']}} </div>
          <div class="post-date">  Date: {{post['created']}} </div>
          <div class="post-likes"> Likes: {{post.likes.count()}} </div>
        </div>

        <div class="post-content-row">
         <div class="post-content">{{post['content']}} </div>
        </div>

        <div class="post-modifications-row">
          {% if post['username'] == currentUsername %}
          <form action="/editpost" method="get">
            <input type="hidden" name="id" value="{{post.key().id()}}">
            <input type="submit" value="Edit Post" class="nav-button">
          </form>
          <form action="/deletepost" method="post">
            <input type="hidden" name="id" value="{{post.key().id()}}">
            <input type="submit" value="Delete Post" class="nav-button">
          </form>
          {% endif %}

          {% if currentUsername is not none %}
           <form action="/likepost" method="post">
            <input type="hidden" name="id" value="{{post.key().id()}}">
            <input type="submit" value="Like Post" class="nav-button">
          </form>
          <form action="/unlikepost" method="post">
            <input type="hidden" name="id" value="{{post.key().id()}}">
            <input type="submit" value="Unlike Post" class="nav-button">
          </form>
          {% endif %}
        </div>

        <div class="comments-row">
          <div class="comment-modifications-row">
          <h4 class="comments-header">Comments</h4>
          {% if currentUsername is not none %}
            <form action="/newcomment" method="get">
              <input type="hidden" name="id" value="{{post.key().id()}}">
              <input type="submit" value="Add Comment" class="nav-button">
            </form>
          {% endif %}
          </div>
          {% for comment in post.comments %}
          <div class="comment-username"> @{{comment.username}} </div>
          <div class="comment-content"> {{comment.content}} </div>

          {% if comment['username'] == currentUsername %}
          <div class="comment-modifications">
            <form action="/editcomment" method="get">
              <input type="hidden" name="commentid" value="{{comment.key().id()}}">
              <input type="submit" value="Edit Comment">
            </form>
            <form action="/deletecomment" method="post">
              <input type="hidden" name="commentid" value="{{comment.key().id()}}">
              <input type="submit" value="Delete Comment">
            </form>
          </div>
          {% endif %}
          {% endfor %}
        </div>

      {% endfor %}
    </div>
  </div>
  </body>
</html>